.grid-wrapper{
    width: min-content;
    height: min-content;
    border: 2px solid black;
    margin: 2rem auto;
}
.row{
    display: flex;
}
.square {
    border: 1px solid #adadad; 
}

.full{
    --bg-color: rgb(128, 128, 128);
    background-color: var(--bg-color);
}